@import url(smallfootertext.css) screen and (max-width: 750px);
@import url(smallstyle.css) screen and (max-width: 600px);
@import url(largestyle.css) screen and (min-width: 601px);
@import url(fonts.css);

*{
    margin: 0px;
    padding: 0px;
}


/*-------------------------------------------------------------------------OVERALL*/
body{
    background-color: black;
}

h1, h2, h3{
    text-align: center;

    color: #80340e;
    font-family: 'Modern No. 20';

    font-size: 100px;
    font-weight: 100;
}


/*-------------------------------------------------------------------------LOGO/HEADER*/
header{
    display: flex;
    justify-content: center;
    align-content: center;

    height: 50vh;
    max-height: 500px;
    max-width: 100vw;

    background-image: url(../IntroPageImages/profilePicture.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    background-color: black;
    border-bottom: 15px solid black;
}

div.welcomeText{
    display: flex;
    flex-direction: row;

    width: 100vw;
}

header h1.welcomeText1{
    /*    justify-self: flex-start;*/

    font-size: 150px;
    color: whitesmoke;
}

header h1.welcomeText2{
    /*    justify-self: flex-end;*/

    font-size: 150px;
    color: whitesmoke;
}

/*-------------------------------------------------------------------------NAVBAR*/

.NavigationBar{
    font-size: 0px;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 10px;
    margin-bottom: 20px;
    /*            position: -webkit-sticky;  safari  */
    position: sticky;
    top: 30px;

    /*    z-index: 30;*/
}

.NavigationBar a{
    font-family: Overhaul;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;

    background-color: black;

    padding: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.NavigationBar a:hover{
    color: black;
    background-color: whitesmoke;
}

.NavigationBar a:active{
    color: whitesmoke;
    background-color: grey;
}


/*------------------------------------------------------------DROPDOWN GAMES NAVBAR*/
.portfolioNavDropdown{
    font-family: Overhaul;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: whitesmoke;

    display: flex;

    background-color: black;

    padding: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    border: none;
    cursor: pointer;
}

.portfolioNavDropdown:hover{
    color: black;
    background-color: whitesmoke;
}

.portfolioNavDropdown:active{
    color: whitesmoke;
    background-color: grey;
}

.portfolioNavDropdownContent{
    width: 200px;

    display: none;
    flex-direction: column; 
    flex-wrap: wrap;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    position: absolute;
}

.portfolioNavDropdownContent p{
    font-family: DeadSecretary;
    color: whitesmoke;
    font-size: 24px;
    font-style: italic;
    font-weight: 100;

    text-align: left;

    background-color: black;

    padding: 18px 16px 18px 16px;
}

.portfolioNavDropdownContent a{
    display: flex;
    justify-content:flex-end;

    padding: 18px 16px 18px 16px;
}

.portfolioNavDropdown:hover+.portfolioNavDropdownContent{
    display: flex;
}

.portfolioNavDropdownContent:hover{
    display: flex;
}


/*-------------------------------------------------------------------------FOOTER*/
footer{
    display: flex;
    justify-content: flex-start;
    align-content: center;

    max-width: 100vw;
    max-height: 120px;
    height: 30vh;

    background-color: black;

    border: 15px solid black;
}

footer img{
    max-height: 120px;
}

footer figcaption{    
    display: flex;
    justify-content: center;
    width: 80%;

    font-family: Overhaul;
    font-size: 18px;
    text-align: center;


    color: whitesmoke;
    padding: 10px;

    transition: color 2s;
}

footer figcaption:hover{
    transition: color 2s;
    color: #80340e;
}


/*-------------------------------------------------------------------------INTRO PAGE*/
main.introPage{
    width: 100vw;
    height: 100vh;

    background-image: url(../IntroPageImages/BackrgoundIntroNoText-Arrows.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.text{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 18vw;
    top: 13.5vh;
    line-height: 1.1;

}

section.dreamQuote{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 980px;
    top: 260px;
    left: -330px;
}

.introPage h1{
    font-size: 120px;
    color: whitesmoke;
    text-align: left;

    transition: color 2s;
}

.introPage h3{
    font-size: 70px;
    color: whitesmoke;
    text-align: left;

    transition: color 2s;
    margin-bottom: 20px;
}

.introPage p{
    font-size: 45px;
    color: whitesmoke;
    font-family: 'Modern No. 20';
    text-align: left;
    letter-spacing: -0.25px;

    transition: color 2s;
}


h1:hover, h3:hover, p:hover{
    color: #faeb89;
    transition: color 10s;
}

.ButtonExplore{
    display: flex;

    position: absolute;
    top: 44.4vh;
    left: 35.25vw;

    width: 111px;
    height: 111px;

    background-color: #faeb89; 
    border-radius: 50%;
    
    z-index: 2;
}

.btnExp{
    text-decoration: none;
    text-align: center;

    font-size: 27px;
    font-weight: 500;
    color: black;
    font-family: 'Modern No. 20';
    line-height: 40px;

    padding-top: 10px;
    margin: 10px;
}

.btnExp:hover{
    box-shadow: 0px 0px 100px 10px rgba(0,0,0,1);
    border-radius: 50%;
}

.Arrows{
    display: flex;
    position: absolute;
    top: 2.5vh;
    left: 34.7vw;
}

.Arrows img{
    display: flex;
    align-self: center;
    height: 95vh;
}

/*-------------------------------------------------------------------------ABOUT*/
.backgroundFounderIraEvers{

}

.founderIraEvers{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 30px 0px;
}

.founderIraEvers p{
    display: flex;
    padding-top: 15px;

    color: whitesmoke;
    font-family: Overhaul;
    font-size: 17px;
    text-align: justify;
    text-indent: 10px;

    transition: color 2s;
}

.founderIraEvers p:hover{
    color: darkred;
    transition: color 10s;
}

.founderIraEvers a{
    font-family: Overhaul;

    text-decoration: overline whitesmoke;
    font-size: 18px;

    margin: 10px 0px;
    display: flex;

    color:whitesmoke;

    transition: color 2s;
}

.founderIraEvers a:hover{
    color: darkred;
    text-decoration: overline darkred;
    transition: color 10s;
}

.borderboxIraevers{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 80vw;
}

.iraprofilepic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    padding: 20px;

    width: 30vw;
}

.iraprofilepic figcaption{
    font-family: Overhaul;
    font-size: 20px;
    color: whitesmoke;
    transition: color 2s;
}

.iraprofilepic figcaption:hover{
    color: darkred;
    transition: color 10s;
}

.informationIra{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    max-width: 40vw;
}

.informationIra h2, .informationIra h3{
    color: whitesmoke;
    font-size: 60px;
    padding: 10px 0px 20px 0px;
}

.informationIra h2:hover, .informationIra h3:hover{
    color: darkred;
    transition: color 10s;
}

.maininformationIra{
    display: flex;
    flex-direction: column;
    width: 40vw;
    background-color: black;
    padding: 20px;
}

.maininformationIra .diplomaProfiles, .maininformationIra .quotationSocrates{
    display: flex;
    justify-content: center;

    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.externallinksIra{
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 40vw;
    background-color: black;

    padding: 20px;
    margin: 20px 0px;
}


/*-------------------------------------------------------------------------Art*/
.backgroundMerch{

}

.Merch{
    max-width: 100vw;
}

.MerchBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    max-width: 100vw;
}


/*--------------------------------------------------MERCH > PICTURES*/
.pictures{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 80%;
}

.pictures img{
    width: 400px;
    height: 450px;
    margin: 10px;
    padding: 10px;
}

.pictures img:hover{
    opacity: 0.6;
    transition: 2s;
}


/*-------------------------------------------------------------------------SOUND?CODE?PROTOTYPINGPROJECTS*/
.backgroundSupport{

}

.Support{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Support h3, .Support h2, .Support h1{
    margin-top: 45px;
}

.Supportarticle{
    width: 100%;

    padding-bottom: 25px;
}

.Supportarticle h2{
    font-size: 50px;
    transition: color 2s;
}

.Supportarticle h2:hover{
    color: darkred;
    transition: color 10s;
}

.Supportarticle h3 a{
    font-family: Overhaul;

    text-decoration: none;
    font-size: 25px;
    font-weight: 500;

    color: black;
    text-decoration: overline black;

    transition: color 2s;
}

.Supportarticle h3 a:hover{
    color: darkred;
    text-decoration: overline darkred;
    transition: color 10s;
}







