@import url(smallstyle.css) screen and (min-width: 1301px) and (max-width: 1560px);
@import url(largestyle.css) screen and (min-width: 1561px);
@import url(fonts.css);
* {
    margin: 0px;
    padding: 0px;
}


/*-------------------------------------------------------------------------OVERALL*/

body {
    background-color: #e8beab;
    overflow-x: hidden;
}

h1,
h2,
h3 {
    text-align: center;
    color: #ffffff;
    font-family: 'Modern No. 20';
    font-weight: 100;
    font-size: 200px;
}


/*-------------------------------------------------------------------------LOGO/HEADER*/

header {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40vh;
    max-height: 500px;
    max-width: 100vw;
    background-image: url(../Images/Logos/Signature-LogoBackgroundBlackV2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border-bottom: 25px solid black;
    overflow: visible;
}


/*-------------------------------------------------------------------------NAVBAR*/

.NavigationBar {
    font-size: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 15px;
    padding-bottom: 50px;
}

.NavigationBar a {
    font-family: 'Modern No. 20';
    text-decoration: none;
    font-size: 50px;
    font-weight: 500;
    color: black;
    margin: 0px 100px;
}


/* .NavigationBar a:first-child {
    margin: 0px 100px 0px 50px;
} */

.NavigationBar a:hover {
    color: whitesmoke;
}

.NavigationBar a:active {
    color: #faeb89;
}


/* --------------------------------------------Arrow */

.Arrowup {
    font-family: 'Modern No. 20';
    font-size: 40px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #412618;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 5px 5px 5px;
    border-radius: 10px;
}

.Arrowup:hover {
    background-color: whitesmoke;
    color: black;
}

.Arrowup:active {
    color: #faeb89;
}


/*-------------------------------------------------------------------------ABOUT*/

.backgroundAboutMe {
    background-color: #e8beab;
}

.aboutMe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.borderboxAbout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80vw;
}

aside.left,
aside.right {
    padding: 40 0px;
}

aside.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25vw;
}

.iraAboutpic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 22vw;
    box-shadow: 5vw 2vw 0px 1vw rgba(250, 235, 215, 0.6);
    z-index: 3;
}

.externallinksAbout h2 {
    color: whitesmoke;
    font-size: 40px;
    padding: 10px 0px 20px 0px;
    transition: color 2s;
}

.maininformationAbout h1:hover,
.externallinksAbout h2:hover {
    color: #faeb89;
    transition: color 10s;
}

.externallinksAbout {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30vw;
    background-color: rgba(140, 89, 57, 1);
    padding: 20px;
    margin: 8vw 0px 0px 4vw;
    box-shadow: -6vw -5vw 0px 2vw rgba(219, 177, 158, 0.5);
    z-index: 2;
}

.wrapLinks {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.externallinksAbout a {
    font-family: 'Modern No. 20';
    text-decoration: none;
    font-size: 18px;
    line-height: 0.2;
    margin: 10px 0px;
    display: flex;
    color: whitesmoke;
}

.externallinksAbout a:hover {
    color: #faeb89;
    transition: color 2s;
}

.externallinksAbout a:nth-child(2n+1) {
    justify-content: flex-end;
}

aside.right {
    display: flex;
    flex-direction: column;
    width: 45vw;
}

.maininformationAbout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    min-height: 10vh;
    background-color: rgba(153, 84, 51, 0.7);
    padding: 20px 20px 50px 20px;
    box-shadow: -3vw -2vh 0px 0.2vw rgba(97, 72, 72, 0.644);
}

.maininformationAbout p {
    display: flex;
    padding-top: 15px;
    color: whitesmoke;
    font-family: 'Modern No. 20';
    font-size: 20px;
    text-align: justify;
    text-indent: 10px;
    max-width: 80%;
    transition: color 2s;
}

.maininformationAbout p:last-child {
    box-shadow: 13vw 14vh 0px 2vw rgba(255, 197, 159, 0.644);
}

.maininformationAbout p:hover {
    color: #faeb89;
    transition: color 10s;
}

.maininformationAbout h1 {
    color: whitesmoke;
    font-size: 100px;
    padding: 10px 0px 0px 0px;
    transition: color 2s;
}

aside.right Blockquote {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.5);
    max-width: 25vw;
    min-height: 11vh;
    padding: 30px 20px 20px 20px;
    margin-top: 5vh;
    box-shadow: 5vw 0px 0px 1.5vw rgba(199, 150, 127, 0.5);
    z-index: 1;
}

aside.right Blockquote q {
    color: black;
    font-size: 20px;
    font-style: italic;
    transition: color 2s;
}

aside.right Blockquote p {
    text-align: right;
    text-indent: 0px;
    color: black;
    font-size: 25px;
    padding: 10px 0px 0px 0px;
    margin: 10px 0px;
    transition: color 2s;
}

aside.right Blockquote p:hover,
aside.right Blockquote q:hover {
    color: #faeb89;
    transition: color 10s;
}

.buttonsPostioning {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 31vw;
}

.btnResume {
    text-align: center;
    color: whitesmoke;
    background-color: rgba(223, 102, 61, 1);
    text-decoration: none;
    font-family: 'Modern No. 20';
    font-size: 20px;
    max-width: 100px;
    max-height: 100px;
    padding: 20px 20px;
    margin: 60px 0px;
    box-shadow: 0.3vw 0px 0px 4vw rgba(244, 197, 184, 0.5);
}

.btnResume p {
    line-height: 1.3;
}

.btnResume:hover {
    color: #faeb89;
    background-color: rosybrown;
    transition: color 10s;
}

.contactInfoABout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 30vw;
    min-height: 11vh;
    background-color: rgb(246, 210, 198);
    padding: 40px 20px;
    margin: 20px 7vw 90px 0px;
    box-shadow: 8vw -10vh 0px 4vw rgba(198, 153, 153, 0.5);
    z-index: 1;
}

.contactInfoABout div {
    padding: 0px 10px;
}

.contactInfoABout p {
    display: flex;
    color: black;
    font-family: 'Modern No. 20';
    font-size: 20px;
    transition: color 2s;
}

.contactInfoAbout p:hover {
    color: #faeb89;
    transition: color 10s;
}

.contactInfoAbout a {
    display: flex;
    color: black;
    font-family: 'Modern No. 20';
    font-size: 20px;
    text-decoration: none;
}

.contactInfoABout a:hover {
    color: skyblue;
}

.Number {
    box-shadow: 1vw -23vh 0px 4vw rgba(200, 116, 108, 0.5);
}

.Email {
    box-shadow: -6vw -8vh 0px 1.5vw rgba(139, 69, 19, 0.5);
}

.Adress {
    box-shadow: 2vw 10vh 0px 1vw rgba(233, 217, 216, 0.5);
}


/*-------------------------------------------------------------------------BOXING  */

.backgroundBox {
    background-color: #e8beab;
}

.backgroundBox h1 {
    color: #80340e;
    font-family: 'Modern No. 20';
    transition: color 2s;
}

.backgroundBox h1 {
    margin: 0px 0px 20px 0px;
    font-size: 100px;
}

.backgroundBox h1:hover {
    color: #faeb89;
    transition: color 10s;
}

.borderbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-width: 100vw;
}


/*--------------------------------------------------PICTURES*/

.pictures {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.pictures figure {
    margin: 3vw 0;
}

.pictures img {
    width: 350px;
    height: 350px;
    margin: 30px;
    transition: 2s;
    object-fit: cover;
    object-position: center;
}

.pictures h3 {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Modern No. 20';
    color: #b63d00;
    font-size: 70px;
    font-weight: 400;
    transition: color 2s;
}

.pictures h3:hover {
    color: #faeb89;
    transition: color 10s;
}


/*---------------------------------------Coastal Cleanup*/

.Coastal {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 100vw;
    padding-left: 25vw;
    background-color: #80340ec5;
}

.pictures .Coastal img {
    position: relative;
    width: 27vw;
    height: 45vh;
}

.pictures .Coastal img:hover {
    width: 28vw;
    height: 46vh;
    transition: 1s;
}

.Coastal .Info {
    position: absolute;
    right: 38.5vw;
}

.Coastal .text {
    position: relative;
    width: 20vw;
    top: 9vh;
    background-color: #a8cfb5ea;
    box-shadow: 3vw 3.5vh 0px 3vw #a8cfb5ea;
}

.pictures .Coastal h3 {
    text-align: start;
    padding-left: 2vw;
}

.Coastal p {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Modern No. 20';
    width: 15vw;
    color: #ffefe7;
    padding: 1vh 0px 0px 2vw;
    font-size: 17.5px;
    transition: color 2s;
}

.Coastal p:hover {
    color: #faeb89;
    transition: color 10s;
}

.CoastalLink {
    position: relative;
    left: 25vw;
    top: 1vh;
    width: 9vw;
    font-family: 'Modern No. 20';
    font-size: 25px;
    display: flex;
    color: #ffffff;
    background-color: rgb(97, 72, 72);
    box-shadow: 0vw 4vh 0px 3.5vw rgb(97, 72, 72);
}

.CoastalLink:hover {
    color: #000000;
}


/*---------------------------------------Polliword*/

.Polliword {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100vw;
    padding-right: 25vw;
    margin-bottom: 10vh;
    background-color: rgba(250, 235, 215, 0.6);
}

.pictures .Polliword img {
    position: relative;
    width: 25vw;
    height: 40vh;
}

.pictures .Polliword img:hover {
    width: 26vw;
    height: 41vh;
    transition: 1s;
}

.Polliword .Info {
    position: absolute;
    right: 45vw;
}

.Polliword .text {
    position: relative;
    width: 15vw;
    top: 9vh;
    right: 1vw;
    background-color: rgba(184, 120, 74, 0.253);
    box-shadow: 3vw 6vh 0px 5vw rgba(184, 120, 74, 0.253);
}

.Polliword p {
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Modern No. 20';
    width: 15vw;
    color: #ffffff;
    padding: 1vh 0px 0px 4vw;
    font-size: 17.5px;
    transition: color 2s;
}

.Polliword p:hover {
    color: #faeb89;
    transition: color 10s;
}

.PolliwordLink {
    position: relative;
    right: 8vw;
    top: 25vh;
    width: 9vw;
    font-family: 'Modern No. 20';
    font-size: 25px;
    display: flex;
    color: #ffffff;
    background-color: #4d6050;
    box-shadow: -2vw 6vh 0px 3.5vw #4d6050;
}

.PolliwordLink:hover {
    color: #000000;
}


/*-------------------------------------------------------------------------FOOTER*/

footer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    max-width: 100vw;
    background-color: #e2a082;
    border: 15px solid #e2a082;
}

footer p {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Modern No. 20';
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    transition: color 2s;
}

footer p:hover {
    transition: color 2s;
    color: #faeb89;
}

.ProjectFooter {
    margin-top: 15vh;
}


/*-------------------------------------------------------------------------ErrorPage*/


/* .Error {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.Error h3,
.Error h2,
.Error h1 {
    font-family: 'Modern No. 20';
    margin-top: 45px;
    transition: color 2s;
}

.Errortarticle {
    width: 100%;
    padding-bottom: 25px;
}

.Error h1 {
    font-size: 80px
}

.Errortarticle h2 {
    font-size: 50px;
}

.Error h2:hover,
.Error h1:hover {
    color: #faeb89;
    transition: color 10s;
}

.Errortarticle a {
    font-family: 'Modern No. 20';
    text-decoration: none;
    font-size: 30px;
    color: whitesmoke;
    text-decoration: none;
}

.Errortarticle a:hover {
    color: skyblue;
    transition: color 2s;
} */