/*-------------------------------------------------------------------------Intro page*/
main.introPage{
    background-size: cover;
    background-position: center;
}

section.text{
    right: 18vw;
    top: 13.5vh;

    line-height: 1.1;
}

section.dreamQuote{
    width: 50vw;

    top: 27vh;
    left: -17.2vw;
}

.introPage h1{
    font-size: 80px;
}

.introPage h3{
    font-size: 45px;
}

.introPage p{
    font-size: 30px;
}

.ButtonExplore{
     left: 33%;
    transform: translate(-45%, -50%);

    max-width: 90px;
    max-height: 90px;
}

.btnExp{
    font-size: 20px;
    line-height: 40px;
    padding-top: 0px;
    margin: 5px;
}

.Arrows img{
    top: 50%;
    left: 33%;
    transform: translate(-45%, -50%);
}








